@font-face {
    font-family: 'digital-clock-font';
    src: url('/font/DIGITALDREAM.ttf') 
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000000;
}
.time {
    font-size: 10rem;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    color: #8fca8f58;
    font-family: 'digital-clock-font';
}